---
import CategoriesLayout from "../../layouts/CategoriesLayout.astro";

const params = Astro.params
console.log('params', params)
---
<CategoriesLayout title="Hola">
  <h1>Holaa</h1>
</CategoriesLayout>