---
import Layout from "@layouts/Layout.astro";
import FAQ from "@components/FAQ.astro";
import Contact from "@components/Contact.astro";
import Home from "@components/Home.astro";
---

<Layout title="Home">
	<Home />
	
	<FAQ />
	<Contact />
	<!-- <Slider />
	<Banner /> -->
	<!-- <main>
		<h1>Hi!✋ <br /> I'm Gianmarco a Front-End Developer 💻 based in Italy</h1>
	</main> -->
	<!-- <div
		class="bg-gradient-to-r from-slate-100 to-slate-200 dark:from-slate-900 dark:to-slate-800 text-slate-800 dark:text-slate-100 mb-20 p-4 lg:p-16 shadow-xl shadow-slate-200 dark:shadow-slate-900"
	>
		<header
			class="p-8 flex justify-center items-center flex-wrap flex-col w-full mt-16"
		>
			

			<div class="format dark:format-invert lg:format-lg mt-32">
				<p
					class="text-4xl lg:text-8xl dark:text-slate-200 text-slate-600 leading-tight"
				>
					Hello <a
						rel="noopener nofollow"
						href="https://astro.build"
						class="font-bold text-transparent bg-clip-text bg-gradient-to-br from-pink-400 to-violet-800 dark:from-pink-300 dark:to-violet-700 no-underline"
						>Astro</a
					>…
					<br />meet <a
						rel="noopener nofollow"
						href="https://flowbite.com"
						class="font-bold text-blue-600 dark:text-blue-500 no-underline"
						>Flowbite</a
					>!
				</p>

				
			</div>
		</header>
	</div> -->
</Layout>

<style>
	/* a{
		color: white
	} */
	main {
		text-align: center;
		padding: 0;
		margin: 0 auto;
		text-align: center;
		display: flex;
		flex-direction: column;
		height: calc(100vh - 80px - 88px);
		justify-content: center;
		align-items: center;
	}
	h1 {
		/* @apply font-extrabold */
		font-weight: 400;
	}
	main > h1 {
		margin: 50px 10px 0;
		font-size: 36px;
	}
	@media (min-width: 900px) {
		main > h1 {
			font-size: 48px;
		}
	}
	@media (min-width: 600px) {
		main {
			max-width: none;
		}
	}
</style>
