---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
import type { Paths } from "@interfaces/page";

export interface Props {
  title: string;
  ogImage?: string;
  paths?: Paths[]
}

const { title, ogImage, paths } = Astro.props;
---

<Layout title={title} ogImage={ogImage}>
  <Breadcrumbs paths={paths} />
  <Main pageTitle={title}>
    <slot />
  </Main>
  
</Layout>
