---
import Breadcrumbs from "@components/Breadcrumbs.astro";
import Layout from "./Layout.astro";
import Main from "./Main.astro";
import type { Paths } from "@interfaces/page";

export interface Props {
  title: string;
  paths?: Paths[]
}

const { title, paths } = Astro.props;
---

<Layout title={`${title}`}>
  <Breadcrumbs paths={paths} />
  <Main pageTitle={title}>
    <slot />
  </Main>
  
</Layout>
