<div class="button">
  <a href="#" class="btn">shop now</a>
</div>
<style>
  .btn{
    margin-top: 1rem;
    display: inline-block;
    padding:.8rem 3rem;
    /* font-size: 1.7rem; */

    /* background:#fff; */
    font-weight: 500;
    /* color:var(--black); */
    cursor: pointer;
    @apply bg-cris-fill text-cris-primary
}

.btn:hover{

    /* background: var(--main-color); */
    color:#fff;
    letter-spacing: .1rem;
    @apply bg-cris-accent text-cris-inverted

}

</style>